<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prevention from Covid-19</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/Master_Preventions.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-fill w-100">
          <a class="nav-link active" href="GoToHome">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="GoToForm">Predict Now</a>
          <a class="nav-link" href="GoToTest">Take a Test</a>
          <a class="nav-link" href="GoToTech">Technology Used</a>
          <a class="nav-link" href="GoToAbout">About Us</a>
        </div>
      </div>
    </nav>
    <div class="contentBackground">
      <div class="content">
        <h2>PREVENTION FROM COVID-19</h2>
        <div class="container">
          <p>What to do to keep yourself and others safe from COVID-19?</p>
          <ul>
            <li>Maintain at least a 1-metre distance between yourself and others</li>
            <li>Make wearing a mask a normal part of being around other people.</li>
            <li>Wash your hands regularly.</li>
          </ul>
          <p>Precautions we should take while wearing a mask?</p>
          <ul>
            <li>Clean your hands before you put your mask on, as well as before and after you take it off.</li>
            <li>Make sure it covers both your nose, mouth and chin.</li>
          </ul>
          <p>How to make your environment safer?</p>
          <ul>
            <li>Avoid the 3Cs: spaces that are closed, crowded or involve close contact.</li>
            <li>Meet people outside in an open space ensuring all the basic measures.</li>
            <li>Avoid crowded or indoor settings.</li>
          </ul>
          <p>Don’t forget the basics of good hygiene!</p>
          <ul>
            <li>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</li>
            <li>Avoid touching your eyes, nose and mouth.</li>
            <li>Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze.</li>
            <li>Clean and disinfect surfaces frequently especially those which are regularly touched, such as door handles, faucets and phone screens.</li>
          </ul>
          <p>What to do if you feel unwell ?</p>
          <ul>
            <li>Know the full range of symptoms of COVID-19. <a href="GoToSymptoms"> Click here!</a></li>
            <li>Stay home and self-isolate even if you have minor symptoms such as cough, headache, mild fever, until you recover. </li>
            <li>If you have a fever, cough and difficulty breathing, seek medical attention immediately. Call by telephone first, if you can and follow the directions of your local health authority.</li>
            <li>Keep up to date on the latest information from trusted sources, such as WHO or your local and national health authorities.</li>
          </ul>
          <p id="SubText">Reference : <a id="NoHoverEffect" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-coronaviruses#:~:text=symptoms">www.who.int</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
