<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prevention from Covid-19</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/Master_Tech.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-fill w-100">
          <a class="nav-link active" href="GoToHome">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="GoToForm">Predict Now</a>
          <a class="nav-link" href="GoToTech">Technology Used</a>
          <a class="nav-link" href="GoToAbout">About Us</a>
        </div>
      </div>
    </nav>
    <div class="contentBackground">
      <div class="content">
        <h2>TECHNOLOGIES USED IN OUR PROJECT</h2>
        <div class="container">
          <p class="headings">Hyper Text Markup Language(HTML)</p>
          <ul>
            <li>HTML is the standard markup language for documents designed to be displayed in a web browser.</li>
            <li>Html elements are the building blocks of webpages and front-end web development.</li>
          </ul>
          <p class="headings">Cascading Style Sheets(CSS)</p>
          <ul>
            <li>CSS is a language used for describing the presentation of a document written in a mark-up language like HTML.</li>
            <li>CSS is a corner stone technology of the World-Wide-Web, alongside HTML and JavaScript.</li>
            <li>CSS is intended to empower the division of introduction and substance,including design, hues and fonts.</li>
          </ul>
          <p class="headings">JAVASCRIPT</p>
          <ul>
            <li>JavaScript (JS) is a light weight, interpreted, or just-in-time compiled programming language with first-class functions.</li>
            <li>JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming ) styles.</li>
          </ul>
          <p class="headings">DJANGO</p>
          <ul>
            <li>Django is a Python-based free and open-source web framework that follows the model-view-controller (MVC) architectural pattern. It is maintained by the Django Software Foundation (DSF), an American independent organizatione stablished a sanon-profit platform.</li>
            <li>Django's primary goal is to ease the creation of complex, database-driven websites. The framework
              emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development,
              and the principle of ‘don't repeat your self’. Python is used throughout, even for settings files and data
              models. Django also provides an optional administrative create, read, update and delete interface that is
              generated dynamically through introspection and configured via admin models.</li>
          </ul>
          <p class="headings">NUMPY</p>
          <ul>
            <li>NumPy brings the computational power of languages like CandFortran to Python, a language
              much easier to learn and use. With this power comes simplicity: a solution in NumPy is often clear and
              elegant.
            </li>
          </ul>
          <p class="headings">MATPLOTLIB</p>
          <ul>
            <li>Matplotlib is a comprehensive library for creating static, animated, and interactive
              visualizations in Python.
            </li>
          </ul>
          <p class="headings">SEABORN</p>
          <ul>
            <li>Seaborn is a Python data visualization library based on matplotlib. It provides a high-level
              interface for drawing attractive and in formative statistical graphics.</li>
          </ul>
          <p class="headings">SCIKITLEARN</p>
          <ul>
            <li>ScikitLearnis python library for predictive data analysis and machine learning purposes.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
